body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-container {
  display : flex;
  flex-direction: column;
}

.initial-image-height {
  height : 100vh;
  background-color: rebeccapurple;
}

.programming-image-dimensions {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  min-height: 100%;
  min-width: 100%;
}

@font-face {
  font-family: 'RobotoMono-Thin';
  src: url(./static/RobotoMono-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Bold';
  src: url(./static/RobotoMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Regular';
  src: url(./static/RobotoMono-Regular.ttf) format('truetype');
}

.container {
  position: relative;
  text-align: center;
  width: 100%;
}

.main-name {
  color: white;
  font-family: 'RobotoMono-Bold';
  font-size: 3.5vw;
  text-shadow: 2px 2px 50px #000;
  padding-right : 1vw;
  padding-left : 1vw;
  padding-top : 0.5vw;
  padding-bottom : 0.5vw;
  background-color: #222529;
}

.programmer-title {
  color: white;
  font-family: 'RobotoMono-Bold';
  font-size: 2.5vw;
  text-shadow: 0 0 50px #000;
  padding-right : 1.2vw;
  padding-left : 1.2vw;
  padding-top : 1vw;
  padding-bottom : 1vw;
  background-color: #222529;
}

.upper-middle{
  position: absolute;
  top : 25%;
  left : 50%;
  transform : translate(-50%, -50%);
}

.middle{
  position: absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
}

hr {
  margin: 30px 0;
  height: 1px;
  border: none;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #6dbfb0));
  width: .1;
}

.submodule-header {
  font-family: 'RobotoMono-Thin';
  font-size: large;
  color: #6dbfb0;
  text-align: center;
}

.submodule-bold {
  font-family: 'RobotoMono-Bold';
  font-size: medium;
  color: #46615c;
  text-align: center;
}

.submodule-text {
  font-family: 'RobotoMono-Regular';
  font-size: smaller;
  color: #46615c;
  text-align: center;
}

.bottom-footer-color {
  background-color: #363e40;
}

.bottom-height {
  height: 50vh;
}

.contact-information-text {
  color: white;
  text-align: center;
  font-family: 'RobotoMono-Bold';
  font-size: 2vw;
}